* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque';
}

body {
    background-color: #F0F8FF;
}

img {
    width: 3rem;
    height: 3rem;
    display: block;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

i {
    font-style: normal;
    font-family: 'Geogria';
}

svg {
    margin-left: 1.5px;
    fill: cornflowerblue;
}

/* NAV */
nav {
    background-color: cornflowerblue;
}
nav::selection {
    background-color: transparent;
}

/* MAIN */
main {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* POST */
.post {
    background-color: white;
    box-shadow: 3px 3px 3px 0 #EEEEEEEE;
    border-radius: .5rem;
}

/* POST | TITLE */
.post-title {
    cursor: default;
    padding: 1rem;
    text-align: center;
}
.post-title p::selection {
    background-color: transparent;
}
.post-title span::selection {
    background-color: transparent;
}

.post-title p span {
    padding: 0 3px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 4px;
}

/* POST | WISH */
.post-wish {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border-top: 1.5px solid #F0F8FF;
    border-bottom: 1.5px solid #F0F8FF;
}

.post-img img {
    padding: 1.5px;
    border: 2px solid cornflowerblue;
}
.post-img img::selection {
    background-color: transparent;
}

.post-text {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}
.post-text h4 {
    cursor: default;
    display: flex;
    align-items: center;
    font-weight: normal;
}
.post-text h4::selection {
    background-color: transparent;
}
.post-text i::selection {
    background-color: transparent;
}
.post-text p {
    color: #333;
}
.post-text p span {
    padding: 0 3px;
    background-color: #EEE;
    border-radius: 4px;
}

/* POST | SOCMED */
.post-info {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.post-info .post-info-comment p {
    color: #666;
}
.post-info .post-info-comment p::selection {
    background-color: transparent;
}

.post-info .post-info-socmed {
    display: flex;
    gap: .8rem;
}
.post-info .post-info-socmed p::selection {
    background-color: transparent;
}

.post-info .post-info-socmed a {
    color: #666;
    text-decoration: none;
}
.post-info .post-info-socmed a:hover {
    color: cornflowerblue;
}


/* FORM COMMENTS */
.form-comments {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 3px 3px 3px 0 #EEEEEEEE;
}

.form-comments .fc-image img {
    padding: 1.5px;
    border: 2px solid #E1E2EB;
}
.form-comments .fc-image img::selection {
    background-color: transparent;
}

.form-comments .fc-text {
    width: 100%;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.form-comments h4 {
    padding: 0 5rem;
    background-color: #E1E2EB;
    border-radius: 4px;
}
.form-comments h4::selection {
    background-color: transparent;
}

.form-comments p {
    padding: 0 10rem;
    background-color: #E1E2EB;
    border-radius: 4px;
}
.form-comments p::selection {
    background-color: transparent;
}

.form-comments .fc-text .tambah {
    padding: 2px 5px;
    margin-top: .5rem;
    color: white;
    text-decoration: none;
    background-color: cornflowerblue;
    border-radius: 4px;
}
.form-comments .fc-text .tambah:hover {
    background-color: royalblue;
}
.form-comments .fc-text .tambah::selection {
    background-color: transparent;
}


/* COMMENT */
.comments-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment {
    background-color: white;
    box-shadow: 3px 3px 3px 0 #EEEEEEEE;
    border-radius: .5rem;
}

/* COMMENT | WISH */
.comment-wish {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border-top: 1.5px solid #F0F8FF;
    border-bottom: 1.5px solid #F0F8FF;
}

.comment-img img {
    padding: 1.5px;
    border: 2px solid cornflowerblue;
}
.comment-img img::selection {
    background-color: transparent;
}

.comment-text {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}
.comment-text h4 {
    cursor: default;
    display: flex;
    align-items: center;
    font-weight: normal;
}
.comment-text h4::selection {
    background-color: transparent;
}
.comment-text i::selection {
    background-color: transparent;
}
.comment-text p {
    color: #333;
    line-height: 1.3;
}

/* COMMENT | SOCMED */
.comment-action {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
}

.comment-action a {
    text-decoration: none;
}
.comment-action a::selection {
    background-color: transparent;
}

.comment-action .modify {
    color: cornflowerblue;
}
.comment-action .modify:hover {
    color: royalblue;
}

.comment-action .archive {
    color: crimson;
}
.comment-action .archive:hover {
    color: red;
}


/* TAMBAH */
.main-tambah {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tambah-kembali {
    text-align: none;
    color: white;
    background-color: cornflowerblue;
}


/* FOOTER */
footer {
    cursor: default;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: cornflowerblue;
    border-top: 1rem solid white;
}

footer p {
    font-family: 'Climate Crisis';
    font-size: clamp(1rem, 20vw, 15rem);
    color: white;
}
footer p::selection {
    background-color: transparent;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 576px) {
    main {
        width: 100%;
    }

    .form-comments p {
        padding: 0 1rem;
        width: 100%;
    }
}